

/* adding a little styling for the modal dialogs - we can change the accenting colors whenever */

/* .modal-header
{
    background: darkblue;
    color: white;
}

.modal-body
{
    padding-left: 20px;
    padding-right: 5px;
    background: grey;
}

.modal-footer
{
    background: darkblue;
} */

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
} 

#userNameTextPrompt
{
    width: auto;
    margin: 0;
    border: 0;
    display:inline-block;
}

/* Materialize CSS below */

/* Navbar FAB button positioning */
.fixed-action-btn {
  top: 1%;
  left: 8%;
  width: 75px;
  height: 75px;
}

/* Navbar button placement. */


#navbarLogo {
  font-size: 24px;
}

.word-result {
  text-align: center;
}

#profilePicture {
  width: 80px;
  /* height: 40px; */
  max-height: 100px!important;
  padding: 15px 0!important;
  left: 50%;
}

.circle {
  display: block;
  width: 150px !important;
  height: 150px !important;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #C33E38;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

#bottomRouletteImage {
  background-image: url('../images/roulette_bottom.gif');
  background-size: cover;
}

#userGallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#userLoginModal {
  z-index: 5;
}

@media only screen and (max-width: 678px) {
  .word-result {
    display: inline-block;
    width: 100%;

  }

  .circle {
    display: block;
    width: 75px !important;
    height: 75px !important;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #C33E38;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
    transition: 1s; 
  }
}

.more-like-this {
  visibility: hidden;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
}

.more-like-this:hover {
  background-color: black;
    color: white;
}

.inspirations-improved {
  visibility: hidden;
}

@font-face {
  font-family: Roulette;
  src: url(RouletteCapsOpti.otf);
  }

.inspirations {
  text-transform: capitalize;
  font-family: Roulette, Arial, Helvetica, sans-serif;
  font-size: 48px;
  border: 1px black solid;
  background: rgba(255, 255, 255, 0.75);
  
}

#filesubmit {
  text-align: center;
}
